@charset "UTF-8";
/*全局边距清空*/
* {
  margin: 0;
  padding: 0;
}

/*图片边框和对齐*/
img {
  border: none;
  vertical-align: middle;
}

/*表单输入元素边框轮廓对齐*/
input {
  vertical-align: middle;
}

/*表格*/
table {
  border-collapse: collapse;
  text-align: center;
}

table th {
  text-align: center;
}

/*列表样式清空*/
ul, li, ol {
  list-style: none;
}

/*超链接样式清空*/
a {
  text-decoration: none;
  color: black;
}

/* 清除浮动 */
.cf {
  zoom: 1;
}

.cf:after {
  display: block;
  height: 0;
  content: '';
  visibility: hidden;
  clear: both;
}

.zzexa {
  display: block;
  text-decoration: none;
  color: black;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 0.16rem;
}

.sheetBack {
  background: #202f32;
  min-height: 100%;
}

.cw {
  width: 10.92rem;
  margin: 0 auto;
}

.cw header.maintit {
  height: 0.96rem;
  line-height: 0.96rem;
  text-align: center;
  color: #eada9b;
  font-size: 0.48rem;
}

.cw section.mainbody {
  border-top: 0.06rem dashed #eada9b;
  border-bottom: 0.06rem dashed #eada9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.4rem;
}

.cw section.mainbody > div {
  width: 5.26rem;
  height: 5rem;
}

.cw section.mainbody > div .directiveblock {
  padding-bottom: 0.2rem;
}

.cw section.mainbody > div .directiveblock .celltit {
  background: #b13e65;
  color: white;
  padding-left: 0.1rem;
  height: 0.24rem;
  line-height: 0.24rem;
  font-size: 0.16rem;
}

.cw section.mainbody > div .directiveblock .cellctt .itemslist .itembox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.2rem;
  font-size: 0.16rem;
}

.cw section.mainbody > div .directiveblock .cellctt .itemslist .itembox .directivearea {
  color: #629694;
}

.cw section.mainbody > div .directiveblock .cellctt .itemslist .itembox .descriptionarea {
  color: #85b95d;
}

.cw footer.mainbuttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eada9b;
  height: 0.38rem;
}
